<h1>All Comedians</h1>

<div id='comedians'>
  <% comedians.each do |comedian| %>
  <h3>Name: <%= comedian.name %></h3>
  <h3>Age: <%= comedian.age %></h3>
  <p>This comedian has the following specials:</p>
</div>
